<!DOCTYPE html>
<html>
  <head>
    <title>Yummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
  </head>

  <body style="margin:0px;padding:0px;font-family:system-ui">
    <%= yield %>
  </body>
</html>
